<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>		
		<array>

			<dict>
				<key>Duration</key>
				<integer>2</integer>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>LText</key>
				<string>Asteroid Belt</string>
			</dict>
			<dict>
				<key>SpawnAsteroids</key>
				<true/>
				<key>Duration</key>
				<integer>15</integer>
				<key>AMoveDurationHigh</key>
				<integer>10</integer>
				<key>AMoveDurationLow</key>
				<integer>2</integer>
				<key>ASpawnSecsHigh</key>
				<real>1</real>
				<key>ASpawnSecsLow</key>
				<real>0.2</real>
			</dict>
			<dict>
				<key>SpawnAsteroids</key>
				<true/>
				<key>SpawnPowerups</key>
				<true/>
                                <key>PSpawnSecs</key>
				<integer>10</integer>
				<key>Duration</key>
				<integer>10</integer>
				<key>AMoveDurationHigh</key>
				<integer>3</integer>
				<key>AMoveDurationLow</key>
				<integer>2</integer>
				<key>ASpawnSecsHigh</key>
				<real>0.5</real>
				<key>ASpawnSecsLow</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>SpawnAsteroids</key>
				<true/>
				<key>Duration</key>
				<integer>15</integer>
				<key>AMoveDurationHigh</key>
				<integer>7</integer>
				<key>AMoveDurationLow</key>
				<integer>3</integer>
				<key>ASpawnSecsHigh</key>
				<real>0.4</real>
				<key>ASpawnSecsLow</key>
				<real>0.2</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>Duration</key>
				<integer>2</integer>
				<key>LText</key>
				<string>Uber Nova</string>
			</dict>
			<dict>
				<key>SpawnAlienSwarm</key>
				<true/>
				<key>Duration</key>
				<integer>30</integer>
				<key>SpawnAsteroids</key>
				<true/>
				<key>SpawnPowerups</key>
				<true/>
                                <key>PSpawnSecs</key>
				<integer>20</integer>
				<key>AMoveDurationHigh</key>
				<integer>10</integer>
				<key>AMoveDurationLow</key>
				<integer>2</integer>
				<key>ASpawnSecsHigh</key>
				<integer>3</integer>
				<key>ASpawnSecsLow</key>
				<integer>1</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>Duration</key>
				<integer>2</integer>
				<key>LText</key>
				<string>Dark Onslaught</string>
			</dict>
			<dict>
				<key>SpawnBoss</key>
				<true/>
				<key>Duration</key>
				<integer>-1</integer>
			</dict>
		</array>
	</array>
</dict>
</plist>
